ul.nav.control.mat-ripple.tiny
  li(data-route=".list-account")
    i.fa.fa-user(aria-hidden="true")
  li(data-route=".list-text")
    i.fa.fa-free-code-camp(aria-hidden="true")
  li(data-route=".list-phone")
    i.fa.fa-cogs(aria-hidden="true")
