doctype html
include navigation.pug
script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="/public/assets/main.js")
main
  section
    div(class="rad-body-wrapper")
      h3 Account Settings
        form(action="/editprofile" method="post")
          ul
            li
              p(class="fullName") Name: #{currentuser.firstName} #{currentuser.lastName}
            li
              p Email: 
                |
                input(class="inputField" value=currentuser.email type="text" placeholder="Update email " name="emailUpdate")
            li
              p Nanopool Token: 
                |
                input(class="inputField" value=currentuser.nanoPoolToken type="text" placeholder="Update nano pool token " name="nanoPoolUpdate")
            li
              button(class="inputField" type="submit" class="btn btn-warning btn-lg") Submit
